---
// Giscus comment component - powered by GitHub Discussions
---

<div class="giscus" style="margin-top: 2em;"></div>

<script src="https://giscus.app/client.js"
	aite-data-repo="aimeetyi/cetc3bj"
	aite-data-repo-id="R_kgDOR60GXQ"
	aite-data-category="General"
	aite-data-category-id="DIC_kwDOR60GXc4C7WB6"
	aite-data-mapping="pathname"
	aite-data-strict="0"
	aite-data-reactions-enabled="1"
	aite-data-emit-metadata="0"
	aite-data-input-position="top"
	aite-data-theme="light"
	aite-data-lang="zh-CN"
	crossorigin="anonymous"
	async>
</script>
